/home/flint/DevOps/DevOps_dockers/mysql/data
/home/flint/DevOps/DevOps_dockers/mysql/old/
/home/flint/DevOps/DevOps_dockers/jupyter/datasets
/home/flint/DevOps/DevOps_dockers/jupyter/modules
/home/flint/DevOps/DevOps_dockers/r_studio/.rstudio_config

