services:

  db:
    image: mysql
    restart: always
    environment:
#      MYSQL_ROOT_USER: testuser
      MYSQL_ROOT_PASSWORD: passtoflint
      MYSQL_DATABASE: testdb

    ports:
    - "3306:3306"

    container_name: mysql

    volumes:
    - ./data:/var/lib/mysql
